@page "/BlockInformation"
@inject MediatR.IMediator _mediator
@using Application.Handlers;

<h1>Enter the Slot leader to get the block information</h1>

<EditForm Model="block" OnValidSubmit="GetBlockInformation">
    <InputNumber @bind-Value="block.SlotLeader" />
    <button type="submit">Get Block Number</button>
</EditForm>

<p>The Block number for slot leader @block.SlotLeader is @block.BlockNumber</p>

@code {

    private Block block = new();

    private class Block
    {
        public int SlotLeader { get; set; }
        public int BlockNumber { get; set; }
    }


    private async Task GetBlockInformation()
    {

        block.BlockNumber = await _mediator.Send(new GetBlockNumberBySlotLeaderQuery(block.SlotLeader));


    }

}
