@page "/BlockInformation"
@inject MediatR.IMediator _mediator
@using Application.Handlers;

<h1>Enter the Slot leader to get the block information</h1>

<input type="number" @bind="@slotLeader" />

@code {

    private int slotLeader;
    private int blocknumber;

    private async Task GetBlockInformation()
    {

        blocknumber = await _mediator.Send(new GetBlockNumberBySlotLeaderQuery(slotLeader));


    }

}
