@page "/BlockInformation"
@inject MediatR.IMediator _mediator
@using Application.Handlers;

<h1>Enter the Slot leader to get the block information</h1>

<EditForm Model="block" OnValidSubmit="GetBlockInformation">
    <InputNumber @bind-Value="block.slotLeader" />
    <button type="submit">Get Block Number</button>
</EditForm>

<p>@block.blockNumber</p>

@code {

    private Block block = new(); 

    private class Block
    {
        public int slotLeader { get; set; }
        public int blockNumber { get; set; }
    }


    private async Task GetBlockInformation()
    {

        block.blockNumber = await _mediator.Send(new GetBlockNumberBySlotLeaderQuery(block.slotLeader));


    }

}
