@page "/"
@inject MediatR.IMediator _mediator
@using Application.EpochData;
@using WebUI.DataComponents;

<h1 class="display-1">Cardano Sharp <br /> Demo </h1>
<h3> Your complete guide to utilizing the Cardano Sharp Library</h3>
<TransactionsPerEpochComponent></TransactionsPerEpochComponent>


@code{
}
