@using Application.BlockChainTransactions;
@inject MediatR.IMediator _mediator


<p>Transactions Per Epoch</p>
<p> Transactions for Epoch: @TransactionsPageComponent</p>

@code {
    private int TransactionsPageComponent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var transactionsInEpoch = await _mediator.Send(new TransactionsInCurrentEpoch.TransactionsInCurrentEpochCommand());
        TransactionsPageComponent = transactionsInEpoch.Count();
        StateHasChanged();
    }


}
