@using Application.BlockChainTransactions;
@using Application.EpochData; 
@inject MediatR.IMediator _mediator


<p>Transactions Per Epoch</p>
<p> Transactions for Epoch</p>

@code {
    public int currentEpoch { get; set; }

    protected async override Task<List<TransactionsPerEpoch.Response>> OnInitializedAsync()
    {
        var respone = _mediator.Send(new GetCurrentEpoch.Command());
        return await _mediator.Send(new TransactionsPerEpoch.Command(10));
    }
}
