@using Application.BlockChainTransactions;
@using Application.EpochData; 
@inject MediatR.IMediator _mediator


<p>Transactions Per Epoch</p>
<p> Transactions for Epoch: @data.UserEnteredEpoch -> @data.TransactionsInEpoch</p> <p>Or enter your own Epoch:  </p>
    
<EditForm Model="data" OnValidSubmit="TransactionsInUserEnteredEpoch">
        <InputNumber @bind-Value="data.UserEnteredEpoch" />
        <button type="submit">Get Transactions In Epoch</button>
    </EditForm>

@code {

    private class TransactionsPerEpochComponentViewModel
    {
        public int TransactionsInEpoch { get; set; }
        public int UserEnteredEpoch { get; set; }

    }

    private TransactionsPerEpochComponentViewModel data = new();

    protected override async Task OnInitializedAsync()
    {
        var transactionsInEpoch = await _mediator.Send(new TransactionsInCurrentEpoch.TransactionsInCurrentEpochCommand());
        data.TransactionsInEpoch = transactionsInEpoch.Count();
        Task<GetCurrentEpoch.GetCurrentEpochResponse> currentEpoch = _mediator.Send(new GetCurrentEpoch.GetCurrentEpochCommand());
        await currentEpoch.ContinueWith(
            s =>
           {
               data.UserEnteredEpoch = s.Result.CurrentEpoch;
           });
        StateHasChanged();
    }

    private async void TransactionsInUserEnteredEpoch()
    {
        var transactionsInEpoch = await _mediator.Send(new TransactionsPerEpoch.UserEnteredEochCommand(data.UserEnteredEpoch));
        data.TransactionsInEpoch = transactionsInEpoch.Count();
        StateHasChanged();
    }


}
